# IBM Coursera Capstone project The Battle of Neighborhoods

## Business problem

### Background

Pakistan is a catchy place due to its geographical significance. In last few years world has realized its importance and start investing in it. Since 2010 many international companies from different sectors like Automobile, Gas & Oil, Agriculture, fashion and consturction establishing their businesses in Pakistan. CPEC a multi-billion project with China is about to complete and after that world will be attract towards Pakistan and everyone will be in hurry to invest at the right time and at the right place.

### Business Problem

As we can see this is the right to to analyze the trends and invest your money so you will get the best out of your desision using machine learning approches. Here we will work on real state sector as this is always considered one of the most profit generated area. We will see which place is best to buy according to your need. For example if someone wants to buy a place at non commertial area than where should he invest his minimum money to possess maximum land. Or if someone wants to start a business than definitly he wants a place which is surrunded by many people having interest related to their business.

## Data Collection

Data is the base of every experiment. So, we will use Zameen.com dataset which include property type, price, location, area, bathrooms, bedrooms and some other features. You can download the dataset from kaggle 'https://www.kaggle.com/huzzefakhan/zameencom-property-data-pakistan'. The dataset have many columns and some of them are not required in our analysis. We will remove and manipulate our data according to our need.

For location, tips and Venue services we will use Foursquare API and find the trends in the specified area.

In [2]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

df = pd.read_csv('Zameen Property Data.csv')
df.head()

,property_id,location_id,page_url,property_type,price,location,city,province_name,latitude,longitude,baths,area,purpose,bedrooms,date_added,agency,agent
0,237062,3325,https://www.zameen.com/Property/g_10_g_10_2_gr...,Flat,10000000,G-10,Islamabad,Islamabad Capital,33.679890,73.012640,2,4 Marla,For Sale,2,02-04-2019,NaN,NaN
1,346905,3236,https://www.zameen.com/Property/e_11_2_service...,Flat,6900000,E-11,Islamabad,Islamabad Capital,33.700993,72.971492,3,5.6 Marla,For Sale,3,05-04-2019,NaN,NaN
2,386513,764,https://www.zameen.com/Property/islamabad_g_15...,House,16500000,G-15,Islamabad,Islamabad Capital,33.631486,72.926559,6,8 Marla,For Sale,5,07-17-2019,NaN,NaN
3,656161,340,https://www.zameen.com/Property/islamabad_bani...,House,43500000,Bani Gala,Islamabad,Islamabad Capital,33.707573,73.151199,4,2 Kanal,For Sale,4,04-05-2019,NaN,NaN
4,841645,3226,https://www.zameen.com/Property/dha_valley_dha...,House,7000000,DHA Defence,Islamabad,Islamabad Capital,33.492591,73.301339,3,8 Marla,For Sale,3,07-10-2019,Easy Property,Muhammad Junaid Ceo Muhammad Shahid Director

In [3]:
df.drop(['property_id', 'location_id', 'page_url', 'date_added', 'agency', 'agent'], axis = 1, inplace = True)
df.head()

,property_type,price,location,city,province_name,latitude,longitude,baths,area,purpose,bedrooms
0,Flat,10000000,G-10,Islamabad,Islamabad Capital,33.679890,73.012640,2,4 Marla,For Sale,2
1,Flat,6900000,E-11,Islamabad,Islamabad Capital,33.700993,72.971492,3,5.6 Marla,For Sale,3
2,House,16500000,G-15,Islamabad,Islamabad Capital,33.631486,72.926559,6,8 Marla,For Sale,5
3,House,43500000,Bani Gala,Islamabad,Islamabad Capital,33.707573,73.151199,4,2 Kanal,For Sale,4
4,House,7000000,DHA Defence,Islamabad,Islamabad Capital,33.492591,73.301339,3,8 Marla,For Sale,3

In [4]:
df.describe()

,price,latitude,longitude,baths,bedrooms
count,1.684460e+05,168446.000000,168446.000000,168446.000000,168446.000000
mean,1.776576e+07,29.859519,71.239804,2.874227,3.179422
std,3.531003e+07,3.807870,3.133042,2.463400,1.971401
min,0.000000e+00,11.052446,25.906027,0.000000,0.000000
25%,1.750000e+05,24.948536,67.130363,0.000000,2.000000
50%,8.500000e+06,31.459784,73.056182,3.000000,3.000000
75%,1.950000e+07,33.560887,73.259870,4.000000,4.000000
max,2.000000e+09,73.184088,80.161430,403.000000,68.000000